<%= form_for :user do |f| %>
<fieldset>
<legend>Enter User Details</legend>
 <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
<div>
<%= f.label :phone %>:<%= f.text_field :phone, :size => 40 %>
</div>
<div>
<%= f.label :password, 'Password' %>:
<%= f.password_field :password, :size => 40 %>
</div>
<div>
<%= f.label :password_confirmation, 'Confirm' %>:
<%= f.password_field :password_confirmation, :size => 40 %>
</div>
<div>
<%= f.submit %>
</div>
</fieldset>
<% end %>
</div>
